:root{
    font-family: "Roboto";
    font-weight: 400  ;  
}

#DataTable {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    font-family: "Roboto";
    font-weight: 400  ;  
    
}

.Headerrow {
    background-color: #08987A;
    /* border-bottom: 1px solid gray; */
    border: 1px solid #F3FCF4;
    border-radius: 20px;
    color: white;

    

}

#DataTable td,#DataTable th, #DataTable tbody
  {
    /* border : 2px solid #ddd; */
    border-bottom: 1px solid #ccc;
    /* border-radius: 20px; */
    padding: 8px;

}
.SearchIcon{
    width: 20px;
    padding: 0 10px 0 10px;
}

.filterBar{
    justify-content: end;
    display: inline-flex;
    width: 100%;
    /* margin-right: 5%; */
    /* padding: 20px; */
    margin: 20px 0px 20px 0px;
    

}
th thead{
    border: 2px solid black;
}


#InputFilter {
    /* color: aqua; */
    border: 1px solid blue;
    border-radius: 4px;
    width: 100px;
    
}

#InputFilter:hover{
    border: 2px solid blue;
    border-radius: 4px;
}

td{
    margin-left: 5px;
}
tbody tr:hover{
  box-sizing: border-box;
  color: #08987A;
  font-weight: 700;
  background-color:#f3f3f3;
  cursor: text;

}